@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

.nav {
  position: sticky;
  top: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(90deg, #FAD7A1 10%, #E96D71 100%);
}

.logo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 39px;
}

.buttons {
  display: flex;
  list-style: none;
  font-family: "Oxygen";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

.buttons li {
  cursor: pointer;
  padding: 0 16px;
}

.primary {
  background: #42E2B8;
  border: 2px solid #0F0A0A;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 90px;
  padding: 5px 10px;
  margin-right: 10px;
  color: #0F0A0A;
  font-family: "Oxygen";
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.primary:hover {
  transform: scale(1.02);
  transition: all .1s ease;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .nav{
    justify-content: space-between;
    padding: 0 2rem;
  }

  .buttons {
    display: none;
  }
}