.hero {
  display: flex;
  align-items: center;
}

.heroText {
  padding: 0 3rem;
  width: 50%;
}

.heroText p {
  font-size: 18px;
  line-height: 2rem;
}

.heroImg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/background.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto;
  width: 50%;
  height: 100%;
}

.heroImg img {
  width: 350px;
  margin-bottom: 6rem;
}