.hero {
  display: flex;
  align-items: center;
}

.heroText {
  padding: 0 3rem;
  width: 50%;
}

.heroText p {
  font-size: 18px;
  line-height: 2rem;
}

.heroImg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/background.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  height: 100%;
}

.heroImg img {
  width: 350px;
  margin-bottom: 10rem;
}

.portfolioText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
  text-align: center;
}

.portfolioText p {
  font-size: 20px;
  font-weight: 300;
}

.portfolioText span {
  font-size: 16px;
  font-weight: 700;
}

.portfolioText svg {
  margin-top: 3rem;
  font-size: 34px;
  animation: arrowAnimation 1.5s infinite ease-out;
}

.contact {
  margin-top: 5rem;
  text-align: center;
}

.contact p {
  font-size: 20px;
  margin-bottom: 3rem;
}

@keyframes arrowAnimation {
  0% {
    transform: translateY(-20px);
    opacity: 0
  }
  30% {
    opacity: 1
  }
  60% {
    opacity: 1
  }
  to {
    transform: translateY(10px);
    opacity: 0
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .hero {
    flex-direction: column-reverse;
  }

  .heroText {
    width: 90%;
    padding: 0;
    margin-top: -8rem;
  }

  .heroImg {
    background-size: 80%;
    background-position: top;
    width: 100%;
  }

  .heroImg img {
    width: 200px;
  }

  .portfolioText{
    width: 90%;
    margin: 3rem auto;
  }

  .contact p {
    width: 90%;
    margin: 2rem auto;
  }
}

@media (min-width: 720px) and (max-width: 1024px) {
  .heroImg{
    background-size: contain;
  }

  .heroImg img {
    width: 250px;
  }
}